@import "./variables";

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

body {
  // background-image: url("../../public/images/fullbg.png");
  // background-size: cover;
  // background: #b46d02;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  background-image: url("../../public/images/bg.png");
  background-size: cover;
  .nav {
    a {
      font-weight: bold;
      color: $light;
    }
  }
  min-height: 100vh;
  .main-banner {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .banner-text {
      h4 {
        font-weight: 600;
        font-size: 3em;
      }
      p {
        font-weight: 600;
        font-size: 1.5em;
      }
    }

    .banner-social-icons {
      display: flex;
      flex-direction: column;
      position: absolute;
      justify-content: space-around;
      align-items: center;
      left: 0;
      height: 30%;
      min-width: 5%;
      max-width: 10%;
      border-radius: 0px 6px 6px 0px;
      background: $primary;

      a {
        &:hover {
          text-decoration: none;
        }
        i {
          background: black;
          border-radius: 50%;
          font-size: 1em;
          padding: 0.5em;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.5s;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .banner-boxes {
    grid-gap: 1rem;
    color: $light;
    // flex: 1;
    height: 30%;
    .box {
      max-height: 100%;
      box-shadow: 0px 4px 15px rgba(30, 60, 94, 0.7);
      border-radius: 10px;
      margin-top: -1.5rem;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $secondary;
      transition: 0.5s;

      &:hover {
        margin-top: -3rem;
      }

      .box-text {
        display: flex;
        flex-direction: column;

        p {
          font-weight: bold;
        }
      }
    }
    .arrow-down:hover {
      animation: slideOut 3s linear;
    }
    @keyframes slideOut {
      70% {
        transform: translateY(10%);
      }
      50% {
        transform: rotate(180deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.course-section {
  height: 100%;
  min-height: 100vh;
  background: $light;
  padding: 2rem 0;

  &-content {
    position: relative;
    border: 2px solid $secondary;
    padding: 2rem 3rem;
    border-radius: 15px;
    // min-height: 90%;
    // height: 100%;

    &-title {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &-text {
        width: 100%;
        max-width: 60%;
      }

      &-picture {
        img {
          width: 100%;
          max-width: 10rem;
          border-radius: 50%;
        }
      }
    }

    .courses {
      .arrows {
        position: absolute;
        transform: translateY(-50%);
        top: 65%;
        background-color: $light;
        color: $secondary;
        border: none;
        box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
      }

      .prev {
        left: 0;
      }

      .next {
        right: 0;
      }

      .course {
        padding: 0.5rem;
        cursor: pointer;
        img {
          width: 100%;
          max-width: 15rem;
        }
      }
    }
  }
}
.popover {
  padding: 1rem;
  min-width: 240px;

  ul {
    padding: 0 1rem;
    li {
      display: flex;
      // align-items: center;
      justify-content: center;

      i {
        // font-size: 0.7rem;
        margin-right: 2rem;
        padding: 0;
        align-self: center;
      }

      p {
        margin: 0;
      }
    }
  }
}

.about {
  // height: 100vh;
  background: $secondary;
  color: $light;
  padding: 3rem 0;

  &-section {
    height: inherit;
    display: flex;
    justify-content: space-between;

    &-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: justify;
    }
    &-left {
      background: yellow;
      width: 50%;

      img {
        width: 100%;

        .bottom {
          width: 100%;
          max-width: 20rem;
        }
      }
    }
  }
}
.trainer {
  // height: 100vh;
  background: $secondary;
  margin-bottom: 3rem;
  color: $light;
  padding: 3rem 0;

  &-section {
    height: inherit;
    display: flex;
    justify-content: space-between;

    &-left {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: justify;

      .trainer-icons {
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
        background: $primary;
        padding: 1rem;

        a {
          &:hover {
            text-decoration: none;
          }
          i {
            background: $secondary;
            border-radius: 50%;
            font-size: 1em;
            padding: 0.5em;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
    &-right {
      width: 50%;

      img {
        width: 100%;
        border-radius: 2rem;
      }
    }
  }
}

.contact {
  height: 100vh;

  &-section {
    padding: 1rem 2rem;
    height: inherit;
    background: #ffffff;
    box-shadow: 0px 5px 16px 2px rgba(0, 0, 0, 0.2);
    border-radius: 12px;

    &-content {
      // padding: 1rem 2rem;
      height: 100%;
      display: flex;
      align-items: center;

      &-left {
        width: 50%;
        padding: 3rem;

        .contact-box {
          display: flex;
          align-items: center;
        }
      }
      &-right {
        padding: 1rem 2rem;
        width: 50%;

        .form-control {
          background: #f2f0f1;
        }
      }
    }
  }
}

.footer {
  background: #020305;
  color: $primary;

  &-section {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      width: 50%;
    }
    &-pic {
      width: 50%;
    }
  }
}
