@import "./variables";

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root,
*,
html,
body {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

body {
  // background-image: url("../../public/images/fullbg.png");
  // background-size: cover;
  // background: #b46d02;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  background-image: url("../../public/images/bg.png");
  background-size: cover;
  max-height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  @media screen and (max-width: 768px) {
    background: none;
  }

  nav {
    // position: relative;
    background: $secondary;
    i {
      cursor: pointer;
      border: 2px solid $light;
      padding: 0.2em;
      border-radius: 0.3rem;
    }
    color: $light;
    font-weight: bold;
    @media screen and (max-width: 768px) {
      .mobile-nav {
        position: fixed;
        display: block;
        height: 100vh;
        width: 70%;
        left: -100%;
        top: 0;
        background: $light;
        z-index: 5;
        border-radius: 0 2rem 2rem 0;
        transition: 0.5s ease-in-out;
        padding: 3rem 2rem;
        .fa-times {
          border: 2px solid $secondary;
          padding: 0.2em;
        }

        ul {
          display: flex;
          flex-direction: column;
          height: 60%;
          width: 100%;
          justify-content: center;
          color: $secondary;
        }

        .top {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
        }
      }
    }
  }
  .main-banner {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media screen and (max-width: 768px) {
      text-align: unset;
      height: 55vh;
      background: url("../../public/images/mobileBG.png");
    }

    .banner-text {
      h4 {
        font-weight: 600;
        font-size: 3em;
        @media screen and (max-width: 768px) {
          font-size: 1.3rem;
        }
      }
      p {
        font-weight: 600;
        font-size: 1.5em;
        @media screen and (max-width: 768px) {
          font-size: 0.8rem;
        }
      }
    }

    .banner-social-icons {
      display: flex;
      flex-direction: column;
      position: absolute;
      justify-content: space-around;
      align-items: center;
      left: 0;
      // min-width: 5%;
      // max-width: 10%;
      border-radius: 0px 6px 6px 0px;
      background: $primary;
      grid-gap: 0.5rem;
      padding: 1rem;

      a {
        i {
          background: black;
          border-radius: 50%;
          font-size: 1em;
          padding: 0.5em;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.5s;

          &:hover {
            text-decoration: none;
          }
        }
      }
      @media screen and (max-width: 768px) {
        border-radius: 6px 0px 0px 6px;
        padding: 0.5rem;
        right: 0;
        left: unset;
        a {
          i {
            font-size: 0.6rem;
          }
        }
      }
    }
  }
  .inner {
    padding: 1rem 2rem;
    background: $secondary;
    flex: 1;
    height: 100%;

    .banner-boxes {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      background: $light;
      box-shadow: 0px 5px 16px 2px rgba(0, 0, 0, 0.2);
      border-radius: 12px;
      grid-gap: 1rem;
      color: $light;
      padding: 1rem 2rem;
      margin-top: -3rem;
      .box {
        height: 5rem;
        box-shadow: 0px 4px 15px rgba(30, 60, 94, 0.7);
        border-radius: 10px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $secondary;
        transition: 0.5s;

        @media screen and (min-width: 768px) {
          &:hover {
            margin-top: -0.5rem;
            // height: 6rem;
          }
        }

        .box-text {
          display: flex;
          flex-direction: column;
          p {
            margin: 0;
            font-weight: bold;
            font-size: 0.8rem;
          }
          small {
            font-size: 0.5rem;
          }
        }
      }
    }
    .arrow-down {
      // height: 100%;
      // background: red;
      // color: green;
      cursor: pointer;
      .fa-chevron-down {
        animation: slideOut 2s linear;
        animation-iteration-count: infinite;
      }
    }
    @keyframes slideOut {
      0% {
        transform: translateY(0%);
      }
      50% {
        transform: translateY(50%);
      }
      100% {
        transform: translateY(0%);
      }
    }
    @media screen and (max-width: 768px) {
      .banner-boxes {
        grid-template-columns: repeat(1, 1fr);
        // min-height: 40vh;
        align-content: center;
        grid-gap: 0;
        padding: 1rem 0;
        margin-top: -5rem;
        position: relative;

        .box {
          height: unset;
          margin: 0 2rem;
          align-self: center;
          padding: 0.5rem;
          &:hover {
            margin: 0 1.5rem;
          }
        }
        .fas {
          font-size: 1rem;
        }
        p {
          font-size: 0.5rem;
        }
        small {
          font-size: 0.5rem;
        }
      }
    }
  }
}

.course-section {
  height: 100%;
  // min-height: 100vh;
  background: $light;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    @media screen and (max-width: 768px) {
      h3 {
        font-size: 1.2rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }

  &-content {
    position: relative;
    border: 2px solid $secondary;
    border-radius: 15px;
    // min-height: 90%;
    // height: 100%;
    padding: 2rem 1rem;
    @media screen and (min-width: 768px) {
      padding: 2rem 2rem;
    }

    &-title {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &-text {
        width: 100%;
        max-width: 60%;
      }

      &-picture {
        img {
          width: 100%;
          max-width: 10rem;
          border-radius: 50%;
        }
      }
    }

    .courses {
      .course {
        display: flex;
        flex-direction: column;
        align-items: center;
        .course-details {
          width: 15rem;
        }
      }
      .arrows {
        position: absolute;
        transform: translateY(-50%);
        top: 65%;
        background-color: $light;
        color: $secondary;
        border: none;
        box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
        @media screen and (max-width: 768px) {
          top: 30%;
        }
      }

      .prev {
        left: 0;
      }

      .next {
        right: 0;
      }

      .course {
        padding: 0.5rem;
        cursor: pointer;
        img {
          width: 100%;
          max-width: 15rem;
        }
      }
    }
  }
}
.popover {
  padding: 1rem;
  min-width: 240px;

  ul {
    padding: 0 1rem;
    li {
      display: flex;
      // align-items: center;
      justify-content: center;

      i {
        // font-size: 0.7rem;
        margin-right: 2rem;
        padding: 0;
        align-self: center;
      }

      p {
        margin: 0;
      }
    }
  }
}

.about {
  // height: 100vh;
  background: $secondary;
  color: $light;
  padding: 5rem 0;

  @media screen and (max-width: 768px) {
    padding: 2rem 1rem;
    .about-section {
      display: flex;
      flex-direction: column-reverse;

      .about-section-right {
        width: 100%;
        margin-bottom: 1rem;
      }
      .about-section-left {
        width: 100%;
      }
    }
  }
  &-section {
    height: inherit;
    display: flex;
    justify-content: space-between;

    &-right {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: justify;
    }
    &-left {
      width: 50%;

      .top {
        height: 45%;
        .img1 {
          width: 100%;
          border-radius: 2rem 2rem 0 0;
        }
      }

      .bottom {
        height: 50%;
        display: flex;
        justify-content: space-between;
        .img2 {
          width: 25%;
          max-width: 20rem;
          border-bottom-left-radius: 2rem;
        }
        .img3 {
          width: 70%;
          border-bottom-right-radius: 2rem;
        }
      }
    }
  }
}
.trainer {
  // height: 100vh;
  background: black;
  margin-bottom: 3rem;
  color: $light;
  padding: 5rem 0;
  @media screen and (max-width: 768px) {
    padding: 2rem 0;
    .trainer-section {
      display: flex;
      flex-direction: column;
    }
    .trainer-section-left {
      order: 1;
      width: 100%;
      text-align: center;
    }
    .trainer-section-right {
      width: 100%;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
      img {
        max-width: 15rem;
      }
    }
    .trainer-icons {
      align-self: center;
      padding: 0;
      justify-content: space-between;
    }
  }

  &-section {
    height: inherit;
    display: flex;
    justify-content: space-between;

    &-left {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // text-align: justify;

      .trainer-icons {
        width: 60%;
        display: flex;
        grid-gap: 1rem;
        // justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        // background: $primary;
        // padding: 0.2rem;

        a {
          &:hover {
            text-decoration: none;
          }
          i {
            background: $secondary;
            color: $primary;
            border-radius: 50%;
            font-size: 0.8em;
            padding: 0.5em;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
    &-right {
      width: 50%;

      img {
        width: 100%;
        border-radius: 2rem;
      }
    }
  }
}

.contact {
  // height: 100%;
  padding-bottom: 2rem;
  @media screen and (max-width: 768px) {
    .contact-section-content {
      display: flex;
      flex-direction: column-reverse;
    }
    .contact-section-content-left {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      iframe {
        align-self: center;
        height: 10rem;
        width: 12rem;
      }
    }
    .contact-section-content-right {
      width: 100%;
      padding: 1rem 0;
      h5 {
        text-align: center;
      }
    }
  }

  &-section {
    padding: 1rem 2rem;
    height: inherit;
    background: #ffffff;
    box-shadow: 0px 5px 16px 2px rgba(0, 0, 0, 0.2);
    border-radius: 12px;

    &-content {
      // padding: 1rem 2rem;
      height: 100%;
      display: flex;
      align-items: center;

      &-left {
        width: 50%;
        padding: 3rem;

        .contact-box {
          display: flex;
          align-items: center;
        }
      }
      &-right {
        padding: 1rem 2rem;
        width: 50%;

        .form-control {
          background: #f2f0f1;
        }
      }
    }
  }
}

.footer {
  height: 100%;
  background: #020305;
  color: $primary;

  @media screen and (max-width: 768px) {
    .footer-section-pic {
      img {
        width: 100%;
        max-width: 10rem;
      }
    }
    .footer-section-text {
      width: 100%;
      padding: 1rem;
      .rights {
        display: block;
      }
    }
  }

  &-section {
    height: inherit;
    padding: 0;
    display: flex;
    justify-content: space-between;
    // align-items: center;

    &-text {
      padding: 3rem;
      height: inherit;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .rights {
        display: flex;
        justify-content: space-between;
        bottom: 0;

        .footer-icons {
          width: 50%;
          display: flex;
          justify-content: space-between;
        }
      }
    }
    &-pic {
      width: 50%;
    }
  }
}
