@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

body {
  background-image: url("../../public/images/fullbg.png");
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;

  .nav {
    a {
      font-weight: bold;
      color: black;
    }
    .active {
      margin: 0;
      color: $primary;
      background: linear-gradient(
        360deg,
        rgba(255, 154, 3, 0.88) -21.79%,
        rgba(255, 154, 3, 0.0968) 18.95%,
        rgba(255, 154, 3, 0) 67.31%
      );
      mix-blend-mode: normal;
    }
  }

  .banner-section {
    height: 100vh;
    .main-banner {
      height: 75%;
      background-image: url("../../public/images/bg.png");
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      .banner-text {
        h4 {
          font-weight: 600;
          font-size: 3em;
        }
        p {
          font-weight: 600;
          font-size: 1.5em;
        }
      }

      .banner-social-icons {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: space-around;
        align-items: center;
        left: 0;
        height: 30%;
        min-width: 5%;
        max-width: 10%;
        border-radius: 0px 6px 6px 0px;
        background: $primary;

        a {
          &:hover {
            text-decoration: none;
          }
          i {
            background: black;
            border-radius: 50%;
            font-size: 1em;
            padding: 0.5em;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s;

            // &:hover {
            //   animation: slideOut 3s linear;
            // }
            // @keyframes slideOut {
            //   70% {
            //     transform: translateY(-5%);
            //   }
            //   50% {
            //     transform: rotate(180deg);
            //   }
            //   100% {
            //     transform: rotate(360deg);
            //   }
            // }
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }

    .banner-boxes {
      grid-gap: 1rem;
      color: white;
      .box {
        box-shadow: 0px 4px 15px rgba(30, 60, 94, 0.7);
        border-radius: 10px;
        margin-top: -1.5rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $secondary;
        transition: 0.5s;

        &:hover {
          margin-top: -3rem;
        }

        .box-text {
          display: flex;
          flex-direction: column;

          p {
            font-weight: bold;
          }
        }
      }
    }
  }
  .course-section {
    height: 100%;
    min-height: 100vh;
    background: white;
    padding: 2rem 0;

    &-content {
      position: relative;
      border: 2px solid $secondary;
      padding: 2rem 3rem;
      border-radius: 10px;
      // min-height: 90%;
      // height: 100%;

      &-title {
        width: 100%;
        // max-width: 40%;
        // margin-bottom: 5rem;
        display: flex;
        // background: red;

        &-picture {
          img {
            width: 100%;
            max-width: 15rem;
            border-radius: 50%;
          }
        }
      }

      .courses {
        // display: flex;
        // justify-content: space-between;

        .arrows {
          position: absolute;
          transform: translateY(-50%);
          top: 60%;
          background-color: #fff;
          color: $secondary;
          border: none;
          box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
        }

        .prev {
          left: 2%;
        }

        .next {
          right: 2%;
        }

        .course {
          padding: 0.5rem;
          cursor: pointer;
          img {
            width: 100%;
            max-width: 15rem;
            // max-width: 37.5rem;
            // width: 100px;
            // height: 100%;
            // max-height: 40rem;
          }
        }
      }
    }
  }
}
